@charset "utf-8";

/*分析のHTMLのスタイル*/
/*67~71,77*/

/*67~71*/


.upbr{
    padding-top: 20px;
}

/*77*/
.mozi{
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
}

.mozi_e{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f00;
    font-size: 24px;
}