@charset "utf-8";

/*共通のスタイル*/
*{
  margin: 0;
  padding: 0;
}
body{
background-color: #15202b;
}



#h-22{
  margin: auto;
  background-color: #15202b;
  width: 100%;
  height: 25%;
  display: flex;
  color: #FFFFFF;
font-size: 70px;
text-align: center;
}




main{
  justify-content:space-around
  background-color: #15202b;
  width: 85%;
  height: 100%;
  margin: auto;
  flex-direction: row;
flex-wrap: wrap;

}
main table{
  margin: 10px 0px 0px 10px;
}
main table tr td{
  padding: 0px 20px 30px 0px;
}

a.btn_22 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  height: 70px;
  margin: auto;
  padding: 33px 0 0 0;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #0686b2;
  background: #27acd9;
  color: #fff;
  font-size: 1.8rem;
}
a.btn_22:hover {
  margin-top: 6px;
  border-bottom: 1px solid #0686b2;
  color: #fff;
}

a.btn_22_1 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  height: 70px;
  margin: auto;
  padding: 33px 0 0 0;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #FFCB11;
  background: #FFD966;
  color: #fff;
  font-size:1.8rem;
}
a.btn_22_1:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FFD966;
  color: #fff;
}



a.btn_24 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 2rem;
  height: 0rem;
  margin: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #C00000;
  background: #FF0000;
  color: #fff;
  padding:1.5rem 4rem 2rem 4rem;
}
a.btn_24:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FF0000;
  color: #fff;
}


a.btn_24 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 3.5rem;
  height: 1.5rem;
  margin: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 8px solid #C00000;
  background: #FF0000;
  color: #fff;
  padding:1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}
a.btn_24:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FF0000;
  color: #fff;
}


a.btn_25 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  height: 50px;
  margin: auto;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #FFCB11;
  background: #FFD966;
  color: #f4f4ff;
  font-size: 30px;
}
a.btn_25:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FFD966;
  color: #fff;
}

a.btn_29 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 3.5rem;
  height: 1.5rem;
  margin: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 8px solid #C00000;
  background: #ED7D31;
  color: #fff;
  padding:1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}
a.btn_29:hover {
  margin-top: 6px;
  border-bottom: 1px solid #ED7D31;
  color: #fff;
}


a.btn_30 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  height: 40px;
  margin: auto;
  padding: 1.1rem 2rem 0.4rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #FFCB11;
  background: #FFD966;
  color: #f4f4ff;
  font-size: 30px;
}
a.btn_30:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FFD966;
  color: #fff;
}

a.btn_31 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 3.5rem;
  height: 1.5rem;
  margin: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 8px solid #8b0000;
  background: #a52a2a;
  color: #fff;
  padding:1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}
a.btn_31:hover {
  margin-top: 6px;
  border-bottom: 1px solid #a52a2a;
  color: #fff;
}

#t-27{
  display:flex;
  background-color: #ffffff;
  font-size: 2.9rem;
  width: 700px;
  text-align: center;
   vertical-align: middle;
}

#t-27 tr th{
  background-color: #0000cd;
  font-size: 3rem;
  width: 700px;
  height: 80px;
  text-align: center;
   vertical-align: middle;
}

#t-34 td, th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: 32px;
}

#d-34{
  background-color: #7fffd4;
  width: 200px;
}
#d-34_1{
  background-color: #fffafa;
  width: auto;
}



#t-36 td, th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: auto;
}

#d-36{
  background-color: #3cb371;
  width: auto;
}
#d-36_1{
  background-color: #fffafa;
  width: auto;
}

#t-37{

  margin: auto;
  text-align: center;
}


a.btn_37 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
 margin: auto;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #FFCB11;
  background: #FFD966;
  color: #f4f4ff;
  font-size: 30px;
  display:inline-block;
}
a.btn_37:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FFD966;
  color: #fff;
}

a.btn_37_1 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  margin: auto;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #FFCB11;
  background: #FFD966;
  color: #f4f4ff;
  font-size: 30px;
  display:inline-block;
}
a.btn_37_1:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FFD966;
  color: #fff;
}

.div_37{
  width: 100%;
  display: flex;
  justify-content: center;

}

#t-40 td, th{
text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: 32px;

}

#d-40{
  background-color: #7fffd4;
  width: 150px;
}
#d-40_1{
  background-color: #fffafa;
  width: 150px;
}

#t-48 td, th{
text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: 70px;
  font-size: 1.9rem;
}

#d-48{
  background-color: #fff000;
  width: 300px;
}
#d-48_1{
  background-color: #fffafa;
  width: 300px;
}

#t-49 td, th{
  width: auto;
  height: auto;
}


a.btn_49 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0.6rem 1.1rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 7px solid #32cd32;
  background: #00ff00;
  color: #000000;
  font-size: 24px;
  display:inline-block;
}

a.btn_49:hover {
  margin-top: 6px;
  border-bottom: 1px solid #32cd32;
  color: #000000;
}


a.btn_49_1 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0.6rem 1.1rem;
  font-weight: bold;
  border-radius: 1rem;
  background: #808080;
  color: #f4f4ff;
  font-size: 24px;
  display:inline-block;
  pointer-events: none;
}


a.btn_50 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 10px solid #C00000;
  background: #FF0000;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
a.btn_50:hover {
  margin-top: 6px;
  border-bottom: 1px solid #FF0000;
  color: #fff;
}


#t-53 td, th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: 70px;
  font-size: 1.5rem;
}

#d-53{
  background-color: #ee82ee;
  width: 300px;
  vertical-align: middle;
}
#d-53_1{
  background-color: #fffafa;
  width: 300px;
  vertical-align: middle;
}


a.btn_56 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-radius: 1rem;
  border-bottom: 8px solid #C00000;
  background: #ED7D31;
  color: #fff;
  padding:1rem 2rem;
  font-size: 1.5rem;
}
a.btn_56:hover {
  margin-top: 6px;
  border-bottom: 1px solid #ED7D31;
  color: #fff;
}


a.btn_58 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  font-weight: bold;
  border-radius: 1rem;
  border-radius: 1rem;
  border-bottom: 8px solid #8b0000;
  background: #a52a2a;
  color: #fff;
  padding:1rem 2rem;
  font-size: 1.5rem;
}
a.btn_58:hover {
  margin-top: 6px;
  border-bottom: 1px solid #a52a2a;
  color: #fff;
}


a.btn_60_1 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0.6rem 1.1rem;
  font-weight: bold;
  border-radius: 1rem;
  border-bottom: 7px solid #B00000;
  /*丸の内線レッド*/
  background: #e60012;
  color: #f4f4ff;
  font-size: 20px;
  display:inline-block;
}
a.btn_60_1:hover {
  margin-top: 6px;
  border-bottom: 1px solid #B00000;
  color: #fff;
}


a.btn_60 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 1rem;
  /*日比谷線シルバー(2014)*/
  background: #b5b5ac;
  color: #f4f4ff;
  font-size: 20px;
  display:inline-block;
  pointer-events: none;
}


a.btn_60_2 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 1rem;
  /*有楽町線ゴールド*/
  background: #d7c447;
  color: #f4f4ff;
  font-size: 20px;
  display:inline-block;
  pointer-events: none;
}

#t-60 tr td{
  width: 300px;
  padding: 0 0 10px 20px;
}


#t-60a tr td{
  width: 300px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px 3px 3px 10px;
  height: 100px;
  font-size: 1.2rem;
}

#d-60{
  width: 300px;
  display: flex;
}


#button60{
  
  right: 150px;
  bottom: 50px;
  display       : inline-block;
  border-radius : 5%;
  font-size     : 17pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 70px;
  background    : #7979ec;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 4px 4px 2px #666666;
  border        : 2px solid #000066;
}

#button60:hover {
  box-shadow    : none;
  color         : #000066;
  background    : #ffffff;
}

html,body{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
