@charset "utf-8";

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 390px;
  height: 750px;
  background-color: #15202b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.comment{
  position:absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
}

body::-webkit-scrollbar{
  display: none;
}

div#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

div#h1 {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#textbox {
  width: 90%;
  color: #fff;
  font-size: 30px;
  padding: 15px;
}

#icon img {
  width: 50px;
  height: 50px;
}

#icon p {
  color: white;
  font-size: 16px;
  margin: 0 5px 0 5px;
  width: 40%;
}

main,
main.main_smart {
  background-color: #15202b;
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

div#h2 {
  margin: 5px 0 0 0;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

#textbox2 {
  width: 100%;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 35px;
}


#form {
  width: 100%;
  padding: 50px 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form input {
  width: 200px;
}

#form label {
  color: #fff;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}


/*確認画面のcss*/

#kakunin3 {
  width: 80%;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kakunin_box {
  width: 100%;
  display: flex;
}


.kakunin_box div {
  width: 50%;
  margin-bottom: 10px;
}

.align_right {
  text-align: right;
}

.bg_gray{
  background-color: #696969;
  padding: 5px;
  box-sizing: border-box;
}


/*入力のcss*/

#gamen_nyuuryoku{
  background-color: #15202b;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form_nyuuryoku{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#form_nyuuryoku input{
  width: 250px;
}

#form_nyuuryoku label{
  width: 100%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.input_left{
  width: 100%;
  padding-bottom: 3px;
  display: flex;
}

div.right60{
  width: 50%;
}

.errmsg{
  width: 100%;
  height: 20px;
  color: red;
  padding: 0 0 5px 0;
}

.errmsg_h1{
  width: 100%;
  height: 20px;
  padding: 10px 0 10px 0;
  color: red;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline_red{
  outline: solid 2px red;
}

/*決定ボタンのcss*/

#button_smart{
  display       : inline-block;
  margin-bottom: 50px;
  border-radius : 25px;
  font-size     : 14pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 40px;
  background    : #7979ec;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 4px 4px 2px #666666;
  border        : 2px solid #000066;
}

#button_smart:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}

.div_kakuninbtn{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*決定ボタンのcssおわり*/


/*　会員TOPのCSS*/
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1.h1_kaiinn {
  height: 10%;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.h2_kaiinntop{
  color: white;
  text-align: center;
  padding: 30px 0 10px 0;
}

.flexbox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexbox2{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.login_now{
  position: absolute;
  right: 580px;
  top: 15px;
  color: white;
  font-size: 12px;
  text-align: right;
}

.img_kaiinntop{
  padding: 10px;
  width: 250px;
  height: 250px;
}

.btn_kaiinntop{
  width: 40%;
  height: 120px;
  margin-bottom: 20px;
}

.bg_gold{
  background-color: #ffd700;
}

.bg_orenge{
  background-color: #ff8c00;
}

/*navのCSS*/
/* Navbar & Navmenu color */
:root {
  --background-navbar: rgba(55, 55, 55, 0.98);
}

.header {
  background: var(--background-navbar);
  position: fixed;
  width: 390px;
  height: 52px;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  z-index: 100;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
  z-index: 100;
}

.menu li {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
  z-index: 100;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  z-index: 100;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  z-index: 100;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}


/*予約画面のcss*/

.ryoukinnsetumei{
  color: white;
}

.ryoukinnsetumei table td{
  padding: 3px;
  border: 1px solid white;
}

/*予約確認画面のCSS*/
table.table_kaiinn{
  width: 95%;
  margin-top: 10px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

table.table_kaiinn tr{
  height: 40px;
  border: 1px solid white;
  background-color: #71a6ea;
  color: black;
}

table.table_kaiinn tr.hover:hover{
  opacity: 0.5;
  background-color: dimgrey;
  cursor: pointer;
}


table.table_kaiinn td,
table.table_kaiinn th{
  border: 1px solid white;
  line-height: 40px;
}

.div_kennsaku{
  margin: 15px 0 0 0;
  width: 90%;
  height: 80px;
  padding: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.div_kennsaku div{
  padding: 5px;
  width: 100%;
  text-align: center;
}

